@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiFlat.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'KCC-DodamdodamR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply font-pretendard;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400/70;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  button,
  a {
    @apply transition-all duration-200 ease-in-out;
  }

  ::selection {
    @apply bg-slate-400;
    @apply text-white;
  }
}

.ql-editor {
  @apply text-base;
  @apply font-pretendard;
  @apply min-h-96;
  @apply h-auto;
}

.react-tooltip {
  border-radius: 6px !important;
  padding: 6px 12px !important;
}

.swal2-modal {
  @apply rounded-md;
  @apply text-black;
}

.swal2-title {
  @apply text-left;
  @apply text-2xl;
  @apply pl-7 pt-6;
}

.swal2-html-container {
  @apply text-left;
  @apply pl-7 pt-1;
}

.swal2-confirm {
  @apply font-normal;
  @apply outline-none;
  @apply bg-green-600;
  @apply hover:bg-green-700;
  @apply transition-all duration-200 ease-in-out;
  @apply rounded-md;

  &:focus-visible {
    @apply shadow-none;
    @apply ring-1 ring-stone-900;
  }
}

.swal-danger {
  @apply bg-red-500 text-white hover:bg-red-600;
}

.swal2-cancel {
  @apply font-normal;
  @apply bg-gray-100;
  @apply hover:bg-gray-200;
  @apply text-black;
  @apply transition-all duration-200 ease-in-out;
  @apply rounded-md;

  &:focus-visible {
    @apply shadow-none;
    @apply ring-1 ring-stone-900;
  }
}

.notion {
    @apply !font-pretendard !text-black;

    ::selection {
        @apply !bg-slate-400;
        @apply !text-white;
    }
}

.notion-page {
    @apply !pl-0 !pr-0;
}
